.infoCard {
  background-color: #102b3f;
  float: left;
  height: 580px;
  width: 560px;
  color: white;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

#flag {
  padding-top: 8px;
}

.titleCard {
  /* background-color: tomato; */
  position: relative;
  min-width: 500px;
  height: 150px;
  left: 20px;
  top: 20px;
  align-content: flex-start;
  display: flex;
}

.titleFont {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  padding-top: 5px;
}

.addressFont {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: none;
  padding-top: 10px;
}

.clinicName {
  font-family: 'Poppins', sans-serif;
  width: 200px;

  font-size: 40px;
  position: relative;
  left: 10px;
  text-transform: uppercase;
}

.clinicAddress {
  font-family: 'Poppins', sans-serif;
  width: 500px;
  font-size: 20px;
}

.clinicStats {
  /* background-color: tomato; */
  position: relative;
  top: 40px;
  display: flex;
  padding: 0px;
  scale: 1.1;
}

.card1 {
  position: relative;
  left: 40px;
  min-width: 180px;
  height: 195px;
  line-height: 195px;
  background-color: #6247aa;
  border-radius: 30px;
}

.card2 {
  position: relative;
  left: 60px;
  min-width: 290px;
  width: 260px;
  height: 210px;
  line-height: 210px;
  background-color: #a06cd5;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
}

.card3 {
  position: relative;
  min-width: 350px;
  height: 110px;
  line-height: 110px;
  background-color: #e2cfea;
  left: -360px;
  top: 230px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.largeStat1 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  font-weight: bolder;
  padding-left: 60px;
  top: -10px;
}

.largeStat2 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  font-weight: bolder;

  top: -18px;
}

.largeStat3 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  font-weight: bolder;
  text-align: left;
  padding-left: 30px;
  color: #102b3f;
}

.smallStat1 {
  position: relative;
  top: -135px;
  left: 45px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.smallStat2 {
  position: relative;
  top: -155px;
  left: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.smallStat3 {
  position: relative;
  top: -107px;
  left: 55px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #102b3f;
}
.map {
  position: relative;
  z-index: -1;
}
