.column {
  padding-left: 30px;
  background-color: #102b3f;
  float: left;
  width: 325px;
  height: 700px;
  border-radius: 0px 30px 30px 0px;
}
.Pfizer {
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
  padding-top: 25px;
}
.Moderna {
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}
.AstraZeneca {
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}
.PfizerPED {
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 25px;
  padding-top: 10px;
}

.logos {
  max-width: 18px;
  float: left;
  padding-right: 10px;
}

.users {
  background-color: #a06cd5;
  height: 100px;
  margin-left: 400px;
  margin-right: 30px;
  top: 00px;
  border-radius: 30px 30px 30px 30px;
  margin-top: 600px;
}

.graph {
  height: 500px;
  margin-left: 400px;
  border-radius: 30px 30px 30px 30px;
  margin-right: 30px;

  background-color: black;
}

.rightSide {
  position: absolute;
  align-content: flex-start;
  left: 600px;
  width: 100%;
  zoom: 0.8;
  -moz-transform: scale(0.5);
}

.clinicInfo {
  color: #102b3f;
  font-family: 'Poppins', sans-serif;
}

.clinicName {
  font-size: 60px;
  font-weight: bolder;
}

.clinicAddress {
}

.dosesHistory {
}

.dosesTitle {
  color: #102b3f;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: bolder;
}

.tempGraph {
  width: 60%;
  height: 400px;
  left: 400px;
  background-color: #102b3f;
  border-radius: 30px;
}

.recentUsersCard {
}

.recentUsersTitle {
  color: #102b3f;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: bolder;
}

.userImages {
  width: 60%;
  height: 200px;
  left: 400px;
  background-color: #a06cd5;
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

.div.userImages img {
  opacity: 0.2;
  filter: alpha(opacity=20);
  position: absolute;
}

.leftSide {
  scale: 100px;
}
